'scopeName': 'xmlmeta.sftools'
'fileTypes': [
  'svg'
  'object'
  'labels'
  'md'
  'email'
  'layout'
  'permissionset'
  'tab'
  'objectTranslation'
]
'patterns': [
  { "include" : "text.xml" }
]